<%= form_with(model: board_message, local: true) do |form| %>
  <% if board_message.errors.any? %>
    <div id="error_explanation">
      <h2 class="h4"><%= pluralize(board_message.errors.count, "error") %> prohibited this board_message from being saved:</h2>

      <ul>
        <% board_message.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :board_user_id %>
    <div class="border p-1">
      <%=@board_user.nickname %>
    </div>
    <%= form.hidden_field :board_user_id %>
  </div>

  <div class="form-group">
    <%= form.label :content %>
    <%= form.text_area :content, class:'form-control' %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
