<%= form_with(model: mycontact, local: true) do |form| %>
  <% if mycontact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(mycontact.errors.count, "error") %> prohibited this mycontact from being saved:</h2>

      <ul>
        <% mycontact.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_area :name %>
  </div>

  <div class="field">
    <%= form.label :age %>
    <%= form.number_field :age %>
  </div>

  <div class="field">
    <%= form.label :nationality %>
    <%= form.check_box :nationality %>
  </div>

  <div class="field">
    <%= form.label :mail %>
    <%= form.text_area :mail %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
