<h2 class="h3 mb-4">※「<%= @genre.name %>」の投稿</h2>

<% @data.each do |obj| %>
  <h4><a href="/blogs/show/<%= obj.id %>"><%= obj.title %></a></h4>
  <p><%= obj.read %><span class="top_created">
    (<%= obj.created_at %>)</span></p>
  <hr>
<% end %>
<div class="navigate">
<nav><%= paginate @data %></nav>
</div>