<h1 class="display-4 text-primary">People#add</h1>
<p><%= @msg %></p>

<!--エラーメッセージ表示-->
<!--anyは配列の中身があるかの確認-->
<% if @person.errors.any? %>
<ul>
    <% @person.errors.full_messages.each do |err| %>
        <li><%= err %></li>
    <% end %>
</ul>
<% end %>

<!-- <%=form_tag(controller:'people', action:'add') do %> -->
<!--フォームヘルパーを使用する場合はform_for-->
<%=form_for(@person, url:{controller:'people', action:'create'}) do |form| %>
    <div class="form-group">
        <label for="name">Name</label>
        <!--<%= text_field_tag("name","",{class:"form-control"}) %>-->
        <!--フォームの内容がperson[name]というようにまとめられ，受け取ったアクションはハッシュ(params[:person])として扱える-->
        <%= form.text_field :name, class:"form-control" %>
    </div>
    <div class="form-group">
        <label for="age">Age</label>
        <!--<%= text_field_tag("age","",{class:"form-control"}) %>-->
        <%= form.text_field :age, class:"form-control" %>
    </div>
    <div class="form-group">
        <label for="mail">Mail</label>
        <!--<%= text_field_tag("mail","",{class:"form-control"}) %>-->
        <%= form.text_field :mail, class:"form-control" %>
    </div>
    <!--<input type="submit">-->
    <%= form.submit class:"btn btn-primary" %>
    <% end %>
<% end %>